<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team08storyapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team08storyapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team08storyapp.StoryListActivity"
            android:label="@string/title_activity_story_list" >
        </activity>
        <activity
            android:name="com.team08storyapp.OnlineStoriesActivity"
            android:label="@string/title_activity_online_stories" >
        </activity>
        <activity
            android:name="com.team08storyapp.OfflineStoriesActivity"
            android:label="@string/title_activity_offline_stories" >
        </activity>
        <activity
            android:name="com.team08storyapp.StoryFragmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_story_view" >
        </activity>
        <activity
            android:name="com.team08storyapp.MyStoriesActivity"
            android:label="@string/title_activity_my_stories" >
        </activity>
        <activity
            android:name="com.team08storyapp.OnlineStoryFragmentActivity"
            android:label="@string/title_activity_online_story_fragment" >
        </activity>
        <activity
            android:name="com.team08storyapp.MyStoryFragmentActivity"
            android:label="@string/title_activity_my_story_fragment" >
        </activity>
    </application>

</manifest>